<div class="container-fluid breadcrumbs">
    <div class="bc-icons-2 row">
      <nav aria-label="breadcrumb col">
        <ol class="breadcrumb blue-grey lighten-4">
            {{ nav:breadcrumbs }}
              <li {{ if is_current }} class="current"{{ /if }} class="breadcrumb-item">
                  <a class="black">{{ title }}</a>
                  <i class="fas fa-angle-double-right mx-2" aria-hidden="true"></i>
              </li>
            {{ /nav:breadcrumbs }}
        </ol>
      </nav>

      <div class="col breadcrumb-phone">

	        <a href="tel:+18667919555" class="dgreen bold breadcrumb-phone-number">1-866-791-9555</a>

      </div>
    </div>
</div>
