<div class="container-fluid" style="background-color: #005e32">
<footer class="container">
    <div class="row footer-widget">
        <div class="col-md-4 widget-1">
            <h5 class="bold">More Information</h5>
            <hr>
            <div>
                <ul class="list-menu-ul">
                    <li class="list-menu"><a href="/resources/shipping-information">Shipping Information</a></li>
                    <li class="list-menu"><a href="/resources/terms-and-conditions">Terms and Conditions</a></li>
                    <li class="list-menu"><a href="/resources/terms-of-use">Terms of Use</a></li>
                    <li class="list-menu"><a href="/resources/privacy-policy">Privacy Policy</a></li>
                    <li class="list-menu"><a href="/resources/sitemap">Sitemap</a></li>
                    <li class="list-menu"><a href="/resources/literature">Woodlore Catalogue</a></li>
                </ul>
            </div>
        </div>






        <div class="col-md-4 widget-2">
            <h5 class="bold">Get in Touch!</h5>
            <hr>
            <div>
                <ul class="list-menu-ul">
                    <li class="list-menu"><a href="/contact">160 Delta Park Blvd,</a></li>
                    <li class="list-menu"><a href="/contact"> Brampton, ON L6T 5T6</a></li>

                    <li class="list-menu"><a href="tel:+19057919555">Phone: 905-791-9555</a></li>
                    <li class="list-menu"><a href="tel:+18667912228">Toll Free: 1-866-791-2228</a></li>

                    <li class="list-menu"><a href="/contact">Fax: 905-791-2228</a></li>
                    <li class="list-menu"><a href="mailto:info@woodlore.ca">Email: info@woodlore.ca</a></li>
                    <!--<li class="list-menu"><a href="mailto:specialquotes@woodlore.ca">Quotes:</a></li>-->
                    <li class="list-menu"><a href="mailto:specialquotes@woodlore.ca">Email: specialquotes@woodlore.ca</a></li>
                </ul>
            </div>




            <!--<p><span class="infotitle">Address</span> 160 Delta Park Blvd, Brampton
                <br>
            <a href="tel:+19057919555"><span class="infotitle">Phone</span> 905-791-9555</a>
            <br>
            <a href="tel:+18667912228"><span class="infotitle">Toll Free</span> 1-866-791-2228</a>
            <br>
            <span class="infotitle">Fax</span> 905-791-2228
            <br>
            <a href="mailto:info@woodlore.ca"><span class="infotitle">Email</span> info@woodlore.ca</a>
            <br>
            <a href="mailto:specialquotes@woodlore.ca"><span class="infotitle">Quotes</span> specialquotes@woodlore.ca</a>
            </p>-->

        </div>







        <div class="col-md-4 widget-3">
            <h5 class="bold">Office Gallery</h5>
            <hr>
            <!-- full-width-simple-indicators.html - codecanyon-v2Cu3U7n-bootstrap-4-carousel-image-slideshow-and-gallery.zip - codecanyon "Bootstrap 4 Carousel - Image Slideshow and Gallery" -->
            <!-- Carousel Start -->
        	<div id="move-all-columns-2" class="carousel slide bs4-carousel bs4-carousel-move-all bs4-indicators-simple swipe_x bs4-easeOutInCubic thumb_scroll_x" data-ride="carousel" data-pause="hover" data-duration="1500" data-interval="5000" data-keyboard="false" data-wrap="true" ><!--data-padding="10px 5px 25px 5px"-->
        		<!-- Indicators Start -->
        		<ol class="carousel-indicators carousel-indicators-ip carousel-indicators-bottom-center" data-bgcolor="transparent" data-color="#ff6600">
        			<!-- Indicators 1 -->
        			<li data-target="#move-all-columns-2" data-slide-to="0"></li>
        			<!-- Indicators 2 -->
        			<li data-target="#move-all-columns-2" data-slide-to="1"></li>
                    <!-- Indicators 3 -->
        			<li data-target="#move-all-columns-2" data-slide-to="2"></li>
        			<!-- Indicators 4 -->
        			<li data-target="#move-all-columns-2" data-slide-to="3"></li>
        		</ol>
        		<!-- Indicators End -->
        		<!-- Carousel Inner Start -->
        		<div class="carousel-inner" role="listbox" data-padding="5px 5px 5px 5px" data-border="1px solid rgba(150,150,150,0.5)" data-radius="25px" >

        			<!-- Slide 1 Start -->
        			<div class="carousel-item">
        				<div class="row">
                            {{collection:footer-widget-images-1 }}
        					<!-- Column 1 Start -->
                            <div class="col">
        						<!-- Image -->
                                <picture class="col">
                                    <source srcset="{{ glide:photo q="75" fm="webp" w="124" h="112" }}" alt="{{ alt }}" class="bs4-column-img" type="image/webp">
                                    <source srcset="{{ glide:photo q="75" fm="jpg" w="124" h="112" }}" alt="{{ alt }}" class="bs4-column-img" type="image/jpg">
                                    <img src="{{ glide:photo q="75" fm="jpg" w="124" h="112" }}" alt="{{ alt }}" class="bs4-column-img">
                                </picture>
                                <!--<img src="{{ glide:photo q="75" fm="jpg" w="124" h="112" }}" alt="{{ Office page 1 }}" class="bs4-column-img" />-->
        					</div> <!-- /.col -->
        					<!-- Column 1 End -->
                            {{ /collection:footer-widget-images-1}}
                            {{ collection:footer-widget-images-2 }}
        					<!-- Column 2 Start -->
                                <div class="col">
                                <!-- Image -->
                            <picture class="col">
                                <source srcset="{{ glide:photo q="75" fm="webp" w="124" h="112" }}" alt="{{ alt }}" class="bs4-column-img" type="image/webp">
                                <source srcset="{{ glide:photo q="75" fm="jpg" w="124" h="112" }}" alt="{{ alt }}" class="bs4-column-img" type="image/jpg">
                                <img src="{{ glide:photo q="75" fm="jpg" w="124" h="112" }}" alt="{{ alt }}" class="bs4-column-img">
                            </picture>
        						<!--<img src="{{ glide:photo q="75" fm="jpg" w="124" h="112" }}" alt="{{ alt }}" class="bs4-column-img" />-->
        					</div>  <!-- /.col -->
        					<!-- Column 2 End -->
                            {{ /collection:footer-widget-images-2 }}
        				</div> <!-- /.row -->
        			</div> <!-- /.carousel-item -->
        			<!-- Slide 1 End -->

        			<!-- Slide 2 Start -->
        			<div class="carousel-item">
        				<div class="row">
                            {{ collection:footer-widget-images-3 }}
        					<!-- Column 1 Start -->
                            <div class="col">
        						<!-- Image -->
                                <picture class="col">
                                    <source srcset="{{ glide:photo q="75" fm="webp" w="124" h="112" }}" alt="{{ alt }}" class="bs4-column-img" type="image/webp">
                                    <source srcset="{{ glide:photo q="75" fm="jpg" w="124" h="112" }}" alt="{{ alt }}" class="bs4-column-img" type="image/jpg">
                                    <img src="{{ glide:photo q="75" fm="jpg" w="124" h="112" }}" alt="{{ alt }}" class="bs4-column-img">
                                </picture>
        						<!--<img src="{{ glide:photo q="75" fm="jpg" w="124" h="112" }}"  alt="{{ Office page 12 }}" class="bs4-column-img" />-->
        					</div>  <!-- /.col -->
        					<!-- Column 1 End -->
                            {{ /collection:footer-widget-images-3 }}
                            {{ collection:footer-widget-images-4 }}
        					<!-- Column 2 Start -->
                            <div class="col">
        						<!-- Image -->
                                <picture class="col">
                                    <source srcset="{{ glide:photo q="75" fm="webp" w="124" h="112" }}" alt="{{ alt }}" class="bs4-column-img" type="image/webp">
                                    <source srcset="{{ glide:photo q="75" fm="jpg" w="124" h="112" }}" alt="{{ alt }}" class="bs4-column-img" type="image/jpg">
                                    <img src="{{ glide:photo q="75" fm="jpg" w="124" h="112" }}" alt="{{ alt }}" class="bs4-column-img">
                                </picture>
        						<!--<img src="{{ glide:photo q="75" fm="jpg" w="124" h="112" }}"  alt="{{ Double Pedestal Desk page 13 }}" class="bs4-column-img" />-->
        					</div>  <!-- /.col -->
        					<!-- Column 2 End -->
                            {{ /collection:footer-widget-images-4 }}
        				</div> <!-- /.row -->
        			</div> <!-- /.carousel-item -->
        			<!-- Slide 2 End -->

                    <!-- Slide 3 Start -->
        			<div class="carousel-item">
        				<div class="row">
                            {{ collection:footer-widget-images-5 }}
        					<!-- Column 1 Start -->
                            <div class="col">
        						<!-- Image -->
                                <picture class="col">
                                    <source srcset="{{ glide:photo q="75" fm="webp" w="124" h="112" }}" alt="{{ alt }}" class="bs4-column-img" type="image/webp">
                                    <source srcset="{{ glide:photo q="75" fm="jpg" w="124" h="112" }}" alt="{{ alt }}" class="bs4-column-img" type="image/jpg">
                                    <img src="{{ glide:photo q="75" fm="jpg" w="124" h="112" }}" alt="{{ alt }}" class="bs4-column-img">
                                </picture>
        						<!--<img src="{{ glide:photo q="70" fm="jpg" w="124" h="112" }}"  alt="{{ Single Pedestal Desk Left page 14 }}" class="bs4-column-img" />-->
        					</div>  <!-- /.col -->
        					<!-- Column 1 End -->
                            {{ /collection:footer-widget-images-5 }}
                            {{ collection:footer-widget-images-6 }}
        					<!-- Column 2 Start -->
                            <div class="col">
        						<!-- Image -->
                                <picture class="col">
                                    <source srcset="{{ glide:photo q="75" fm="webp" w="124" h="112" }}" alt="{{ alt }}" class="bs4-column-img" type="image/webp">
                                    <source srcset="{{ glide:photo q="75" fm="jpg" w="124" h="112" }}" alt="{{ alt }}" class="bs4-column-img" type="image/jpg">
                                    <img src="{{ glide:photo q="75" fm="jpg" w="124" h="112" }}" alt="{{ alt }}" class="bs4-column-img">
                                </picture>
        						<!--<img src="{{ glide:photo q="70" fm="jpg" w="124" h="112" }}"  alt="{{ SIngle Pedestal Desk Right page 15 }}" class="bs4-column-img" />-->
        					</div>  <!-- /.col -->
        					<!-- Column 2 End -->
                            {{ /collection:footer-widget-images-6 }}
        				</div> <!-- /.row -->
        			</div> <!-- /.carousel-item -->
        			<!-- Slide 3 End -->

                    <!-- Slide 4 Start -->
        			<div class="carousel-item">
        				<div class="row">
                            {{ collection:footer-widget-images-7 }}
        					<!-- Column 1 Start -->
                            <div class="col">
        						<!-- Image -->
                                <picture class="col">
                                    <source srcset="{{ glide:photo q="75" fm="webp" w="124" h="112" }}" alt="{{ alt }}" class="bs4-column-img" type="image/webp">
                                    <source srcset="{{ glide:photo q="75" fm="jpg" w="124" h="112" }}" alt="{{ alt }}" class="bs4-column-img" type="image/jpg">
                                    <img src="{{ glide:photo q="75" fm="jpg" w="124" h="112" }}" alt="{{ alt }}" class="bs4-column-img">
                                </picture>
        						<!--<img src="{{ glide:photo q="70" fm="jpg" w="124" h="112" }}"  alt="{{ Executive Corner Desk page 16 }}" class="bs4-column-img" />-->
        					</div>   <!-- /.col -->
        					<!-- Column 1 End -->
                            {{ /collection:footer-widget-images-7 }}
                            {{ collection:footer-widget-images-8 }}
        					<!-- Column 2 Start -->
                            <div class="col">
        						<!-- Image -->
                                <picture class="col">
                                    <source srcset="{{ glide:photo q="75" fm="webp" w="124" h="112" }}" alt="{{ alt }}" class="bs4-column-img" type="image/webp">
                                    <source srcset="{{ glide:photo q="75" fm="jpg" w="124" h="112" }}" alt="{{ alt }}" class="bs4-column-img" type="image/jpg">
                                    <img src="{{ glide:photo q="75" fm="jpg" w="124" h="112" }}" alt="{{ alt }}" class="bs4-column-img">
                                </picture>
        						<!--<img src="{{ glide:photo q="75" fm="jpg" w="124" h="112" }}"  alt="{{ Professional Office Furniture page 26 }}" class="bs4-column-img" />-->
        					</div>  <!-- /.col -->
        					<!-- Column 2 End -->
                            {{ /collection:footer-widget-images-8 }}
        				</div> <!-- /.row -->
        			</div> <!-- /.carousel-item -->
        			<!-- Slide 4 End -->

        		</div>
        		<!-- Carousel Inner End -->

        		<!-- Arrow Left Start -->
        		<a class="carousel-control-prev bs4-carousel-control carousel-control-ip carousel-control-x" href="#move-all-columns-2" data-slide="prev"><!-- data-color="rgba(150,150,150,0.3)"-->
        			<!-- Icon -->
        			<i class="fas fa-angle-left"></i>
        		</a>
        		<!-- Arrow Left End -->

        		<!-- Arrow Right Start -->
        		<a class="carousel-control-next bs4-carousel-control carousel-control-ip carousel-control-x" href="#move-all-columns-2" data-slide="next"><!-- data-color="rgba(150,150,150,0.3)"-->
        			<!-- Icon -->
        			<i class="fas fa-angle-right"></i>
        		</a>
        		<!-- Arrow Right End -->

        	</div>
        	<!-- Carousel End -->
        </div>
    </div>
</footer>
</div>
<footer class="page" style="background-image: url({{ glide path='/assets/img/logosandmisc/footerBG2-slice-optimized.png' fm='jpg' }});" alt="Woodlore International Inc.">



    <div class="container-fluid">
        <div class="row">
            <!--<div class="col col-md-6">-->
            <div class="col col-md-4">
                <p class="copyright">&copy; {{ now format="Y" }} {{ site_name|widont }}</p>
            </div>
            <div class="col col-md-4">
                <p class="tribute"><a href="https://rockwynnwebdesign.ca" target="blank">{{ tribute|widont }}</a></p>
            </div>

            {{ assets:steelcase }}
            <div class="col col-md-4 mb-3">
                <picture>
                    <source srcset="{{ glide:url q="75" fm="png" }}" class="my-footer" type="image/webp" alt="Woodlore International Inc.">
                    <source srcset="{{ glide:url q="75" fm="png" }}" class="my-footer" type="image/jpg" alt="Woodlore International Inc.">
                    <img src="{{ glide:url q="75" fm="png" }}" class="my-footer" alt="Woodlore International Inc.">
                </picture>
            </div>
            {{ /assets:steelcase }}

        </div>
    </div>

</footer>
<button id="myBtn"><a href="#top" class="white">Top</a></button>
