<section class="regular">
  	<div class="container-fluid centered">
  		<div class="block">
  		    <div class="row">
  		        <div class="col">
  					{{ assets:topimage }}
  		            <img src="{{ glide:url }}" class="large-image" />
  					{{ /assets:topimage }}
  		        </div>
  		    </div>
  		</div>
  		<div class="block">
  			<h4 class="orange bold">{{ sub-title }}</h4>
              <h5 class="orange">{{ sub-sub-title }}</h5>
  			<p>{{ top-image-caption }}</p>
  		</div>
  		<hr>
      </div>
</section>
