<!-- nav -->
<nav class="navbar navbar-woodlore navbar-expand-lg navbar-light bg-light navbar-redwood">
  <div class="container">
          <a class="navbar-brand" href="/">
              <img src="/img/asset/ZmFjaWxpdGllcy9pbWcvbG9nb3NhbmRtaXNjL2xvZ28zLnBuZw==?q=75&fm=jpg&s=9627e83c874039ce34860ec6ff5d59ed" alt="Woodlore International Inc."></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
                                                          <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                      </li>
                                                                              <li class="nav-item">
                        <a class="nav-link" href="/careers">Careers</a>
                      </li>
                                                                              <li class="nav-item dropdown">
                          <a href="/about" class="nav-link dropdown-toggle" id="navbarDropdown72c016c6-cc0a-4928-b53b-3275f3f6da0a" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
                          <ul class="dropdown-menu" dropdown-menu-right animate slideIn" aria-labelledby="navbarDropdown72c016c6-cc0a-4928-b53b-3275f3f6da0a">
                                                                  <li><a class="dropdown-item" href="/about/about-us">About Us</a></li>
                                  <div class="dropdown-divider"></div>
                                                                  <li><a class="dropdown-item" href="/about/advantages">Advantages</a></li>
                                  <div class="dropdown-divider"></div>
                                                                  <li><a class="dropdown-item" href="/about/performance">Performance</a></li>
                                  <div class="dropdown-divider"></div>
                                                                  <li><a class="dropdown-item" href="/about/governing-principles">Governing-Principles</a></li>
                                  <div class="dropdown-divider"></div>
                                                                  <li><a class="dropdown-item" href="/about/sustainability">Sustainability</a></li>
                                  <div class="dropdown-divider"></div>
                                                                  <li><a class="dropdown-item" href="/about/outsource">Outsource</a></li>
                                  <div class="dropdown-divider"></div>

                          </ul>
                      </li>
                                                                              <li class="nav-item">
                        <a class="nav-link" href="/products">Products</a>
                      </li>
                                                                              <li class="nav-item dropdown">
                          <a href="/materials" class="nav-link dropdown-toggle" id="navbarDropdown4a5af252-e37d-4191-8963-999c4b8524f3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Materials</a>
                          <ul class="dropdown-menu" dropdown-menu-right animate slideIn" aria-labelledby="navbarDropdown4a5af252-e37d-4191-8963-999c4b8524f3">
                                                                  <li><a class="dropdown-item" href="/materials/laminate-finishes">Laminate Finishes</a></li>
                                  <div class="dropdown-divider"></div>
                                                                  <li><a class="dropdown-item" href="/materials/tackboard-fabrics">Tackboard Fabrics</a></li>
                                  <div class="dropdown-divider"></div>
                                                                  <li><a class="dropdown-item" href="/materials/handles">Handles</a></li>
                                  <div class="dropdown-divider"></div>

                          </ul>
                      </li>
                                                                              <li class="nav-item dropdown active ">
                          <a href="/resources" class="nav-link dropdown-toggle" id="navbarDropdown7bd1d718-93c2-4190-a82a-95d9222a9726" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resources</a>
                          <ul class="dropdown-menu" dropdown-menu-right animate slideIn" aria-labelledby="navbarDropdown7bd1d718-93c2-4190-a82a-95d9222a9726">
                                                                  <li><a class="dropdown-item" href="/resources/literature">Literature</a></li>
                                  <div class="dropdown-divider"></div>
                                                                  <li><a class="dropdown-item" href="/resources/warranty">Warranty</a></li>
                                  <div class="dropdown-divider"></div>
                                                                  <li><a class="dropdown-item" href="/resources/shipping-information">Shipping Information</a></li>
                                  <div class="dropdown-divider"></div>
                                                                  <li><a class="dropdown-item" href="/resources/terms-and-conditions">Terms and Conditions</a></li>
                                  <div class="dropdown-divider"></div>
                                                                  <li><a class="dropdown-item" href="/resources/terms-of-use">Terms of Use</a></li>
                                  <div class="dropdown-divider"></div>
                                                                  <li><a class="dropdown-item" href="/resources/privacy-policy">Privacy Policy</a></li>
                                  <div class="dropdown-divider"></div>
                                                                  <li class="active"><a class="dropdown-item" href="/resources/sitemap">Sitemap</a></li>
                                  <div class="dropdown-divider"></div>

                          </ul>
                      </li>
                                                                              <li class="nav-item dropdown">
                          <a href="/our-facility" class="nav-link dropdown-toggle" id="navbarDropdown3b56e0bc-ebf3-4058-9148-342dd48f03e0" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Our Facility</a>
                          <ul class="dropdown-menu" dropdown-menu-right animate slideIn" aria-labelledby="navbarDropdown3b56e0bc-ebf3-4058-9148-342dd48f03e0">
                                                                  <li><a class="dropdown-item" href="/our-facility/our-facility">Our Facility</a></li>
                                  <div class="dropdown-divider"></div>
                                                                  <li><a class="dropdown-item" href="/our-facility/precision-cutting">Precision Cutting</a></li>
                                  <div class="dropdown-divider"></div>
                                                                  <li><a class="dropdown-item" href="/our-facility/edgebanding">Edgebanding</a></li>
                                  <div class="dropdown-divider"></div>
                                                                  <li><a class="dropdown-item" href="/our-facility/cnc">CNC</a></li>
                                  <div class="dropdown-divider"></div>
                                                                  <li><a class="dropdown-item" href="/our-facility/assembly">Assembly</a></li>
                                  <div class="dropdown-divider"></div>
                                                                  <li><a class="dropdown-item" href="/our-facility/maintenance">Maintenance</a></li>
                                  <div class="dropdown-divider"></div>
                                                                  <li><a class="dropdown-item" href="/our-facility/shipping-department">Shipping Department</a></li>
                                  <div class="dropdown-divider"></div>

                          </ul>
                      </li>
                                                                              <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                      </li>

          </ul>
      </div>
  </div>
</nav>
<!--end of nav-->
