// The colors duke! The colors!
$color_dark:  #3c3c3c;
$color_mid:   #445566;
$color_light: #b8b8b8;
$color_lgreen: #dfef90;
$color_dgreen: #005e32;
$color_orange: #ff6600;
$color_teal: #005566;
$color_grey_text: #212529;

// Fontsicles
/*$font_sans:  'Lato', sans-serif;
$font_serif: 'Lora', serif;*/
$font_sans: 'Open Sans', sans-serif;
$font_serif: 'Georgia', 'serif';

$gap: 32px;
