<section class="regular pt-0">
    <div>
        {{ if {form:errors in="contact"} }}
            <div class="alert alert-danger">
                {{ form:errors in="contact"}}
                    {{ value }}<br>
                {{ /form:errors }}
                {{else}}
                <h1></h1>
            </div>
        {{ /if }}
    </div>





    <article class="form content">



        {{ form:create in="contact" redirect="/contact/thanks"}}



        {{ if success }}
                <div class="alert alert-success">
                    Form was submitted successfully.
                </div>
            {{ /if }}

            <div class="form-group">
                <label>Name</label>
                <input type="text" name="name" value="{{ old:name }}" placeholder="Name" class="form-control" />
            </div>

            <div class="form-group">
                <label>Email</label>
                <input type="text" name="email" value="{{ old:email }}" placeholder="Email" class="form-control" />
            </div>

            <div class="form-group">
                <label>Phone</label>
                <input type="phone" name="phone" value="{{ old:phone }}" placeholder="Phone Number" class="form-control" />
            </div>

            <div class="state form-group">
                <label>State</label>
                <input type="text" name="state" value="{{ old:state }}" placeholder="State" class="form-control" />
            </div>

            <div class="form-group">
                <label>Comment</label>
                <textarea name="comment" placeholder="Add a note..." class="form-control">{{ old:comment }}</textarea>
            </div>

            <button class="btn btn-primary">Submit</button>

        {{ /form:create }}

    </article>

    <div class="block">
        <div class="row aligner">
            <div class="col">
                <h4 class="dgreen bold">{{ site_name }}</h4>
                <p>{{ address }}</p>
                <ul class="list-menus">
                    <li class="list-menu-dark"><span class="dgreen bold">Phone: </span><a href="tel:+19057919555">905-791-9555</a></li>
                    <li class="list-menu-dark"><span class="dgreen bold">Toll Free: </span><a href="tel:+18667919555">1-866-791-9555</a></li>
                    <li class="list-menu-dark"><span class="dgreen bold">Fax: </span><a href="#">905-791-2228</a></li>
                    <li class="list-menu-dark"><span class="dgreen bold">Email: </span><a href="mailto:info@woodlore.ca">info@woodlore.ca</a></li>
                </ul>
                <h5 class="dgreen bold">Request for Special Quotes</h5>
                <ul class="list-menus">
                    <li class="list-menu-dark"><span class="dgreen bold">Email: </span><a href="mailto:specialquotes@woodlore.ca">specialquotes@woodlore.ca</a></li>
                    <li><a href="tel:+18667919555"><h1 class="w-phone dgreen bold">1-866-791-9555</h1></a></li>
                </ul>
            </div>
            <div class="card-group">
                <div id="iefix" class="col">
                    {{ assets:contact-image }}
                    <div class="card">
                        <img src="{{ glide:url q="75" fm="jpg" }}" alt="Woodlore International Inc. 160 Delta Park Blvd, Brampton ON L6T 5T6"/>
                    {{ /assets:contact-image }}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="block">
        <div class="row aligner">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d92261.87532554135!2d-79.64771848601023!3d43.72751256633075!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd0ef7977d2e1c77!2sWoodlore+International+Inc!5e0!3m2!1sen!2sca!4v1426969937026" width="1000" height="300" frameborder="0" style="border:0"></iframe>
        </div>
    </div>

</section>
